html{
    height: 100%;
}
body{
    height: 100%;
    color: #ffffff;
}
#wrapper{
    background: url(../img/bg.png) repeat-x #414243;
    height: 100%;
    padding: 0 50px;
}
header{
    height: 100px;
    padding: 30px 0 0 20px;
}
header > div{
    float: left;
}
.email{
    margin-right: 15px;
}
.email input{
    margin-bottom: 5px;
}
.email p{
    text-decoration: underline;
}
.password{
    margin-right: 10px;
}
.enter{
    margin-right: 20px;
}
.header-logo{
    width: 431px;
    height: 87px;
    position: relative;
    background: url(../img/logo-bg.png) no-repeat;
}

.sprite { background: url('../img/sprite.png') no-repeat top left; width: 11px;  }
.sprite.ico-feedback { background-position: 0 0; height: 8px; }
.sprite.ico-icq { background-position: 0 -18px; width: 15px; height: 15px; }
.sprite.ico-mail { background-position: 0 -43px; width: 16px; height: 12px; }
.sprite.ico-map { background-position: 0 -65px; height: 9px; }
.sprite.ico-phone { background-position: 0 -84px; width: 10px; height: 14px; }
.sprite.ico-skype { background-position: 0 -108px; width: 16px; height: 16px; }